h2 {
  font-size: clamp(20px, 3vw, 40px);
  font-variation-settings: 'wght' 400;
  margin: clamp(5px, 3vw, 20px) 0 clamp(10px, 5vw, 30px);
}
h3 {
  margin: 0.5rem 0;
}
h4 {
  font-size: 12px;
  margin: 0.4rem 0;
}
p {
  text-align: justify;
  line-height: 1.5;
  margin-top: 4px;
  font-size: clamp(12px, 2vw, 13px);
}
a {
  color: currentColor;
}

// exept markdown
ul:not(.markdown) {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:not(.markdown) {
  text-decoration: none;
}

// sub
sub {
  vertical-align: top;
}
