.f-height {
  height: 100%;
}
.f-width {
  width: 100%;
}
.text-c {
  text-align: center;
}

$spacing-tb: clamp(25px, 8vw, 100px);
$spacing-tb-m: clamp(18px, 4vw, 50px);
.spacing-tb {
  margin-top: $spacing-tb;
  margin-bottom: $spacing-tb;
}
.spacing-tb-m {
  margin-top: $spacing-tb-m;
  margin-bottom: $spacing-tb-m;
}
.flex {
  display: flex;
}
.flex-center-center {
  justify-content: center;
  align-items: center;
}
.flex-vertical-center {
  align-items: center;
}
