.f-height {
  height: 100%;
}
.f-width {
  width: 100%;
}
.text-c {
  text-align: center;
}

.spacing-tb {
  margin-top: clamp(20px, 8vw, 80px);
  margin-bottom: clamp(20px, 8vw, 80px);
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
