.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  a {
    color: theme-color('secondary');
  }
  &__nav-item {
    font-variation-settings: 'wght' 400;
    transition: font-variation-settings $transition--fast;
    sub {
      color: theme-color('accent');
    }
    &:hover {
      font-variation-settings: 'wght' 900;
    }
  }
}
