.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  a {
    color: theme-color('secondary');
  }
  &__logo {
    font-variation-settings: 'wght' 800;
  }
  &__nav-item {
    font-variation-settings: 'wght' 300;
    transition: font-variation-settings $transition--fast;
    &:hover {
      font-variation-settings: 'wght' 900;
    }
  }
}
